In [39]:
import pandas as pd

In [55]:
df = pd.read_csv("data/census_2M.csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,29,Private,170491,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,60,Yugoslavia,>50K
1,35,Private,205681,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States,>50K
2,26,Local-gov,58344,HS-grad,9,Married-spouse-absent,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
3,56,State-gov,28368,HS-grad,9,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
4,29,Private,284241,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,55,United-States,>50K

In [56]:
len(df)

2000000

In [57]:
df_base = df.iloc[:10_000]
len(df_base)

10000

In [58]:
df_rest = df.iloc[10_000:]
len(df_rest)

1990000

In [59]:
df_base.to_csv("data/census_base.csv", index=False)
df_rest.to_csv("data/census_new.csv", index=False)

In [60]:
df = pd.read_csv("data/census_new.csv")
len(df)

1990000

## Create Delta table

In [1]:
import pyspark
from delta import *

builder = pyspark.sql.SparkSession.builder.appName("MyApp2") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [2]:
df = spark.read.csv("data/census_base.csv", header=True)

In [3]:
df.show(5, truncate=9)

+---+---------+------+---------+-------------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+------+
| 29|  Private|170491|Assoc-voc|           11|     Marrie...| Tech-s...|     Husband|White|  Male|           0|           0|            60|     Yugosl...|  >50K|
| 35|  Private|205681|Bachelors|           13|     Marrie...|     Sales|     Husband|White|  Male|           0|           0|            55|     United...|  >50K|
| 26|Local-gov| 58344|  HS-grad|            9|     Marrie...| Transp...|   Not-in...|White|  Male|           0|           0|            50|     United...| <=50K|
| 56|State-gov| 28368|  HS-grad|            9|     Marrie...| Machin...|   Unmarried|White|Female|           0|           0|            40|     United...| <=50K|
| 29|  Private|284241|Some-c...|           10|     Marrie...| Adm-cl...|     Husband|White|  Male|           0|           0|            55|     United...|  >50K|
+---+---------+------+---------+-------------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [4]:
df.count()

10000

In [5]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income']

In [6]:
# partitioned write on education col
df.write.format("delta").partitionBy("education").save("delta/census_table")

In [7]:
# read back in to confirm
df = spark.read.format("delta").load("delta/census_table")
df.show()

+---+------------+------+------------+-------------+--------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|   workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+------------+------+------------+-------------+--------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 29|     Private|284241|Some-college|           10|  Married-civ-spouse|     Adm-clerical|      Husband|White|  Male|           0|           0|            55| United-States|  >50K|
| 30|Self-emp-inc|224938|Some-college|           10|           Separated|  Exec-managerial|Not-in-family|White|  Male|           0|           0|            60| United-States|  >50K|
| 36|     Private|231026|Some-college|           10|  Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 41|     Private|235042|Some-college|           10|            Divorced|     Craft-repair|Not-in-family|White|  Male|        3366|           0|            40| United-States| <=50K|
| 27|     Private|385899|Some-college|           10|            Divorced|     Adm-clerical|    Unmarried|White|Female|        4340|           0|            40| United-States| <=50K|
| 31|     Private|251615|Some-college|           10|  Married-civ-spouse|     Adm-clerical|         Wife|White|Female|           0|           0|            40| United-States|  >50K|
| 32|     Private|503766|Some-college|           10|Married-spouse-ab...|   Prof-specialty|    Unmarried|White|  Male|           0|           0|            40| United-States|  >50K|
| 31|   State-gov|125376|Some-college|           10|  Married-civ-spouse|  Protective-serv|      Husband|White|  Male|           0|           0|            55| United-States| <=50K|
| 20|     Private|104571|Some-college|           10|       Never-married|     Adm-clerical|    Own-child|White|  Male|           0|           0|            40| United-States| <=50K|
| 41|     Private| 53622|Some-college|           10|            Divorced|            Sales|Not-in-family|White|Female|        2316|           0|            40| United-States| <=50K|
| 33|     Private| 95993|Some-college|           10|  Married-civ-spouse|     Adm-clerical|         Wife|White|Female|           0|           0|            39| United-States| <=50K|
| 43|     Private| 37223|Some-college|           10|  Married-civ-spouse|            Sales|         Wife|White|Female|           0|           0|            36| United-States|  >50K|
| 18|     Private|316077|Some-college|           10|       Never-married|            Sales|    Own-child|White|Female|           0|           0|            20| United-States| <=50K|
| 35|     Private| 86104|Some-college|           10|  Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 31|     Private|153264|Some-college|           10|       Never-married|    Other-service|Not-in-family|White|  Male|           0|           0|            30| United-States| <=50K|
| 36|     Private|132256|Some-college|           10|       Never-married|Handlers-cleaners|    Own-child|White|  Male|           0|           0|            40| United-States| <=50K|
| 49|     Private|121676|Some-college|           10|            Divorced|     Adm-clerical|Not-in-family|White|Female|           0|           0|            44| United-States| <=50K|
| 22|     Private|461419|Some-college|           10|       Never-married|   Prof-specialty|    Own-child|White|Female|           0|           0|            40| United-States| <=50K|
| 35|     Private| 57741|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 32|   Local-gov|215461|Some-college|           10|  Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            40| United-States|  >50K|
+---+------------+------+------------+-------------+--------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [8]:
df.count()

10000

Nice. This is working and done.

Our Delta table looks like this on disk:

In [9]:
!ls delta/census_table/

_delta_log             education=7th-8th      education=HS-grad
education=10th         education=9th          education=Masters
education=11th         education=Assoc-acdm   education=Preschool
education=12th         education=Assoc-voc    education=Prof-school
education=1st-4th      education=Bachelors    education=Some-college
education=5th-6th      education=Doctorate

## Generate Synthetic Data

In [14]:
!pip install mostlyai

Collecting mostlyai
  Downloading mostlyai-0.3.8-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: httpx>=0.25.0 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from mostlyai) (0.27.0)
Requirement already satisfied: pandas<3.0.0,>=1.5.3 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from mostlyai) (2.2.2)
Requirement already satisfied: pyarrow>=14.0.0 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from mostlyai) (16.1.0)
Collecting pydantic<3.0.0,>=2.4.2 (from mostlyai)
  Downloading pydantic-2.7.2-py3-none-any.whl.metadata (108 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.5/108.5 kB 5.2 MB/s eta 0:00:00
Collecting rich>=13.7.0 (from mostlyai)
  Using cached rich-13.7.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: anyio in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpx>=0.25.0->mostlyai) (4.3.0)
Requirement already satisfied: certifi in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpx>=0.25.0->mostlyai) (2024.2.2)
Requirement already satisfied: httpcore==1.* in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpx>=0.25.0->mostlyai) (1.0.5)
Requirement already satisfied: idna in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpx>=0.25.0->mostlyai) (3.7)
Requirement already satisfied: sniffio in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpx>=0.25.0->mostlyai) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from httpcore==1.*->httpx>=0.25.0->mostlyai) (0.14.0)
Requirement already satisfied: numpy>=1.23.2 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from pandas<3.0.0,>=1.5.3->mostlyai) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from pandas<3.0.0,>=1.5.3->mostlyai) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from pandas<3.0.0,>=1.5.3->mostlyai) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from pandas<3.0.0,>=1.5.3->mostlyai) (2024.1)
Collecting annotated-types>=0.4.0 (from pydantic<3.0.0,>=2.4.2->mostlyai)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.18.3 (from pydantic<3.0.0,>=2.4.2->mostlyai)
  Downloading pydantic_core-2.18.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.5 kB)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from pydantic<3.0.0,>=2.4.2->mostlyai) (4.11.0)
Collecting markdown-it-py>=2.2.0 (from rich>=13.7.0->mostlyai)
  Using cached markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from rich>=13.7.0->mostlyai) (2.18.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich>=13.7.0->mostlyai)
  Using cached mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: six>=1.5 in /Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.5.3->mostlyai) (1.16.0)
Downloading mostlyai-0.3.8-py3-none-any.whl (31 kB)
Downloading pydantic-2.7.2-py3-none-any.whl (409 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.5/409.5 kB 17.3 MB/s eta 0:00:00
Downloading pydantic_core-2.18.3-cp311-cp311-macosx_11_0_arm64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 39.3 MB/s eta 0:00:00m eta 0:00:01
Using cached rich-13.7.1-py3-none-any.whl (240 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Using cached markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Using cached mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: pydantic-core, mdurl, annotated-types, pydantic, markdown-it-py, rich, mostlyai
Successfully installed annotated-types-0.7.0 markdown-it-py-3.0.0 mdurl-0.1.2 mostlyai-0.3.8 pydantic-2.7.2 pydantic-core-2.18.3 rich-13.7.1

In [18]:
from mostlyai import MostlyAI
import getpass

api_key = getpass.getpass()

# initialize client
mostly = MostlyAI(api_key=api_key, base_url='https://app.mostly.ai')

# fetch configuration via API
g = mostly.generators.get('32a4e79d-e592-4e90-a1a9-e9e3470813d9')
config = g.config()
config

 ········

{'name': 'Sample Census Data Generator',
 'description': 'Sample synthetic data generator based on the Census 1994 dataset, commonly known as the "Adult" dataset. Originating from the U.S. Census Bureau database, it was extracted from the 1994 census. The generator has been trained from a subset (48K rows) of the original dataset.',
 'tables': [{'name': 'census',
   'sourceConnectorId': '856b7b1d-0d5e-4c95-a614-db5c58e6d3c0',
   'location': None,
   'data': None,
   'modelConfiguration': {'maxSampleSize': 48842,
    'batchSize': None,
    'modelSize': 'M',
    'maxTrainingTime': 10,
    'maxEpochs': 100,
    'maxSequenceWindow': 100,
    'enableFlexibleGeneration': True,
    'valueProtection': True,
    'rareCategoryReplacementMethod': 'CONSTANT'},
   'textModelConfiguration': None,
   'primaryKey': None,
   'foreignKeys': None,
   'columns': [{'name': 'age',
     'included': True,
     'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'workclass',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'fnlwgt', 'included': True, 'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'education',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'education_num',
     'included': True,
     'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'marital_status',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'occupation',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'relationship',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'race', 'included': True, 'modelEncodingType': 'CATEGORICAL'},
    {'name': 'sex', 'included': True, 'modelEncodingType': 'CATEGORICAL'},
    {'name': 'capital_gain',
     'included': True,
     'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'capital_loss',
     'included': True,
     'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'hours_per_week',
     'included': True,
     'modelEncodingType': 'NUMERIC_AUTO'},
    {'name': 'native_country',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'},
    {'name': 'income',
     'included': True,
     'modelEncodingType': 'CATEGORICAL'}]}]}

In [21]:
# probe for some samples
mostly.probe(g, size=10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,23,Self-emp-inc,129423,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,<=50K
1,54,Private,194063,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
2,36,Private,294103,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Amer-Indian-Eskimo,Female,0,0,43,United-States,<=50K
3,50,Private,279291,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,65,United-States,>50K
4,30,Private,118517,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,35,United-States,<=50K
5,45,Private,285876,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
6,53,Self-emp-not-inc,141405,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,55,United-States,<=50K
7,46,Private,222176,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
8,38,Private,72099,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,2894,0,45,United-States,<=50K
9,52,Private,29764,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K

In [22]:
# use generator to create a synthetic dataset
sd = mostly.generate(g, size=2_000_000)

Created synthetic dataset ]8;id=227856;https://app.mostly.ai/d/synthetic-datasets/1939e6cf-1005-443c-a04b-75d6945a3134\1939e6cf-1005-443c-a04b-75d6945a3134]8;;\ with generator ]8;id=600277;https://app.mostly.ai/d/generators/32a4e79d-e592-4e90-a1a9-e9e3470813d9\32a4e79d-e592-4e90-a1a9-e9e3470813d9]8;;\

Started synthetic dataset generation

/Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages/rich/live.py:231: UserWarning:
install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

🎉 Your synthetic dataset is ready! Use it to consume the generated data. Share it so others can do the same.

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,29,Private,170491,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,60,Yugoslavia,>50K
1,35,Private,205681,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States,>50K
2,26,Local-gov,58344,HS-grad,9,Married-spouse-absent,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
3,56,State-gov,28368,HS-grad,9,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
4,29,Private,284241,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,18,Private,148801,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,18,United-States,<=50K
99996,25,Private,212180,Bachelors,13,Never-married,Sales,Own-child,White,Male,675,0,50,United-States,<=50K
99997,32,State-gov,452849,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
99998,53,Private,282557,Some-college,10,Divorced,Sales,Not-in-family,Black,Male,0,0,40,Jamaica,<=50K
99999,57,State-gov,135582,Some-college,10,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K

In [23]:
df_synth = sd.data()

In [52]:
df_synth

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,29,Private,170491,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,60,Yugoslavia,>50K
1,35,Private,205681,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States,>50K
2,26,Local-gov,58344,HS-grad,9,Married-spouse-absent,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
3,56,State-gov,28368,HS-grad,9,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
4,29,Private,284241,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,18,Private,148801,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,18,United-States,<=50K
99996,25,Private,212180,Bachelors,13,Never-married,Sales,Own-child,White,Male,675,0,50,United-States,<=50K
99997,32,State-gov,452849,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
99998,53,Private,282557,Some-college,10,Divorced,Sales,Not-in-family,Black,Male,0,0,40,Jamaica,<=50K
99999,57,State-gov,135582,Some-college,10,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K

In [54]:
df_synth.to_csv("data/census_2M.csv", index=False)

## Incremental Writes
Now let's move on to appending data in little increments.

We'll compare a few different options:

1. vanilla writes with no configs
2. `optimized write` (needs to be distributed?)
3. `auto compaction`

To start, let's iterate over every 1000 rows and write to the partitioned table.

### 1. vanilla append write

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in all new data
df_new = pd.read_csv("data/census_new.csv")
df_new = df_new.astype(str)

In [3]:
# def chunking params
n = len(df_new)
chunk_size = 1000
chunks = []
num_chunks = int(np.ceil(n / chunk_size))

In [4]:
# def chunks
for i in range(num_chunks):
    start = chunk_size * i
    stop = start + chunk_size
    chunks.append(df_new.iloc[start:stop])

### Parallelize for loop write with Dask

In [5]:
# create local dask cluster
import dask

from dask.distributed import Client, LocalCluster
cluster = LocalCluster(n_workers=4)
client = Client(cluster)

In [9]:
import dask.array as da

# load chunks array onto dask cluster
chunks_dask = da.from_array(chunks, chunks=num_chunks)
chunks_dask

dask.array<array, shape=(1990, 1000, 15), dtype=object, chunksize=(1990, 1000, 15), chunktype=numpy.ndarray>

In [6]:
# write chunks
@dask.delayed
def write_chunk(chunk, chunk_n):
    df = chunk
    df.to_csv(f"results/{chunk_n}.csv")
    return chunk_n
    #df.write.format("delta").partitionBy("education").mode("append").save("delta/census_table/")

In [7]:
results = []
for chunk in enumerate(chunks):
    results.append(write_chunk(chunk[1], chunk[0]))

    
# # iterate over chunks    
# for i in range(num_chunks):
#     pandas_df = chunks[i]
#     df = spark.createDataFrame(pandas_df)
#     df.write.format("delta").partitionBy("education").mode("append").save("delta/census_table/")
#     print(f"Write {i+1} succesfull.")

In [8]:
%%time
dask.compute(results)

/Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages/distributed/client.py:3164: UserWarning: Sending large graph of size 146.49 MiB.
This may cause some slowdown.
Consider scattering data ahead of time and using futures.
  warnings.warn(

CPU times: user 9.56 s, sys: 2.88 s, total: 12.4 s
Wall time: 19.8 s

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  278,
  279,
  280,
  281,
  282,
  283,
  284,
  285,
  286,
  287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  311,
  312,
  313,
  314,
  315,
  316,
  317,
  318,
  319,
  320,
  321,
  322,
  323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347,
  348,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  365,
  366,
  367,
  368,
  369,
  370,
  371,
  372,
  373,
  374,
  375,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  393,
  394,
  395,
  396,
  397,
  398,
  399,
  400,
  401,
  402,
  403,
  404,
  405,
  406,
  407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  425,
  426,
  427,
  428,
  429,
  430,
  431,
  432,
  433,
  434,
  435,
  436,
  437,
  438,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  459,
  460,
  461,
  462,
  463,
  464,
  465,
  466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  482,
  483,
  484,
  485,
  486,
  487,
  488,
  489,
  490,
  491,
  492,
  493,
  494,
  495,
  496,
  497,
  498,
  499,
  500,
  501,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  513,
  514,
  515,
  516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  526,
  527,
  528,
  529,
  530,
  531,
  532,
  533,
  534,
  535,
  536,
  537,
  538,
  539,
  540,
  541,
  542,
  543,
  544,
  545,
  546,
  547,
  548,
  549,
  550,
  551,
  552,
  553,
  554,
  555,
  556,
  557,
  558,
  559,
  560,
  561,
  562,
  563,
  564,
  565,
  566,
  567,
  568,
  569,
  570,
  571,
  572,
  573,
  574,
  575,
  576,
  577,
  578,
  579,
  580,
  581,
  582,
  583,
  584,
  585,
  586,
  587,
  588,
  589,
  590,
  591,
  592,
  593,
  594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,
  607,
  608,
  609,
  610,
  611,
  612,
  613,
  614,
  615,
  616,
  617,
  618,
  619,
  620,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  633,
  634,
  635,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  646,
  647,
  648,
  649,
  650,
  651,
  652,
  653,
  654,
  655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  666,
  667,
  668,
  669,
  670,
  671,
  672,
  673,
  674,
  675,
  676,
  677,
  678,
  679,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  696,
  697,
  698,
  699,
  700,
  701,
  702,
  703,
  704,
  705,
  706,
  707,
  708,
  709,
  710,
  711,
  712,
  713,
  714,
  715,
  716,
  717,
  718,
  719,
  720,
  721,
  722,
  723,
  724,
  725,
  726,
  727,
  728,
  729,
  730,
  731,
  732,
  733,
  734,
  735,
  736,
  737,
  738,
  739,
  740,
  741,
  742,
  743,
  744,
  745,
  746,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  766,
  767,
  768,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  777,
  778,
  779,
  780,
  781,
  782,
  783,
  784,
  785,
  786,
  787,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  832,
  833,
  834,
  835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  847,
  848,
  849,
  850,
  851,
  852,
  853,
  854,
  855,
  856,
  857,
  858,
  859,
  860,
  861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891,
  892,
  893,
  894,
  895,
  896,
  897,
  898,
  899,
  900,
  901,
  902,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  932,
  933,
  934,
  935,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  949,
  950,
  951,
  952,
  953,
  954,
  955,
  956,
  957,
  958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979,
  980,
  981,
  982,
  983,
  984,
  985,
  986,
  987,
  988,
  989,
  990,
  991,
  992,
  993,
  994,
  995,
  996,
  997,
  998,
  999,
  ...],)

In [ ]:
# damn that was fast
# serial writes with pyspark are taking ~1 hour
# to be fair - I'm writing 3 duplicate files at the same time
# but still

In [ ]:
# just for fun
# what happens if I try to parallelize a spark write

In [9]:
# write chunks
@dask.delayed
def write_chunk(chunk, chunk_n):
    df = spark.createDataFrame(chunk)
    df.write.format("delta").partitionBy("education").mode("append").save("delta/census_table_from_dask/")
    print(f"Write {chunk_n + 1} complete.")
    return chunk_n

results = []
for chunk in enumerate(chunks):
    results.append(write_chunk(chunk[1], chunk[0]))

In [10]:
%%time
dask.compute(results)

/Users/rpelgrim/miniforge3/envs/pyspark-350-delta-320/lib/python3.11/site-packages/distributed/client.py:3164: UserWarning: Sending large graph of size 146.49 MiB.
This may cause some slowdown.
Consider scattering data ahead of time and using futures.
  warnings.warn(

NameError: name 'spark' is not defined

In [ ]:
# doesn't work out of the box
# need to have spark running on my dask cluster
# not trivial
# https://github.com/mrocklin/dask-spark

### debugging (some useful info about dtypes)

In [37]:
# ok we're getting a `DELTA_FAILED_TO_MERGE_FIELDS` error
# strange because these tables should have the same schema
# although the base file is older, maybe there's some difference
# let's see if any files got written

In [38]:
# read back in to confirm
df = spark.read.format("delta").load("delta/census_table")
df.count()

10000

In [73]:
# no
# so probably something has changed about the schema

# i've updated the `base` file to be a part of the newly generated data
# so schema discrepancy shouldn't be an issue
# let's see if there's something changing between pandas/pyspark

In [74]:
pandas_df = chunks[0]
pandas_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,25,Private,249331,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,45,United-States,<=50K
1,47,Self-emp-not-inc,171732,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,56,United-States,>50K
2,19,Private,61497,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,35,United-States,<=50K
3,51,Local-gov,262724,11th,7,Married-civ-spouse,Other-service,Husband,Black,Male,4410,0,40,United-States,>50K
4,31,Private,190364,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,4415,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,Private,80899,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1907,45,?,>50K
996,31,Private,851983,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,Mexico,<=50K
997,60,Private,173089,Doctorate,16,Widowed,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,>50K
998,45,Private,145912,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,3112,0,40,United-States,>50K
999,62,State-gov,117703,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [75]:
spark_df = spark.createDataFrame(pandas_df)

In [76]:
spark_df.count()

1000

In [77]:
spark_df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income']

In [78]:
spark_df.dtypes

[('age', 'bigint'),
 ('workclass', 'string'),
 ('fnlwgt', 'bigint'),
 ('education', 'string'),
 ('education_num', 'bigint'),
 ('marital_status', 'string'),
 ('occupation', 'string'),
 ('relationship', 'string'),
 ('race', 'string'),
 ('sex', 'string'),
 ('capital_gain', 'bigint'),
 ('capital_loss', 'bigint'),
 ('hours_per_week', 'bigint'),
 ('native_country', 'string'),
 ('income', 'string')]

In [79]:
df_base = spark.read.csv("data/census_base.csv", header=True)

In [80]:
df_base.dtypes

[('age', 'string'),
 ('workclass', 'string'),
 ('fnlwgt', 'string'),
 ('education', 'string'),
 ('education_num', 'string'),
 ('marital_status', 'string'),
 ('occupation', 'string'),
 ('relationship', 'string'),
 ('race', 'string'),
 ('sex', 'string'),
 ('capital_gain', 'string'),
 ('capital_loss', 'string'),
 ('hours_per_week', 'string'),
 ('native_country', 'string'),
 ('income', 'string')]

In [82]:
# spark is reading all the cols as string dtype
# interesting and inefficient
# quick fix: set all cols to string in pandas import
# longer fix: should probably provide schema upon spark read