In [2]:
import pandas as pd
from deltalake import DeltaTable, write_deltalake

In [2]:
data = {
    'first_name': ['bob', 'li', 'leah'], 
    'age': [47, 23, 51],
}

In [5]:
df = pd.DataFrame.from_dict(data)
write_deltalake("tmp/delta-table", df)

In [3]:
df = DeltaTable("tmp/delta-table").to_pandas()
df

  first_name  age
0        bob   47
1         li   23
2       leah   51

In [9]:
print(df)

  first_name
0        bob
1         li
2       leah

In [4]:
df = df.drop(columns=["age"])

In [5]:
write_deltalake(
    "tmp/delta-table", 
    df,
    mode="overwrite",
    schema_mode="overwrite",
)

In [7]:
DeltaTable("tmp/delta-table").to_pandas()

  first_name
0        bob
1         li
2       leah

In [15]:
df = DeltaTable("tmp/delta-table", version=0).to_pandas()

In [16]:
print(df)

  first_name  age
0        bob   47
1         li   23
2       leah   51